.banner-top-head {
    background-color: #e9efff;
    max-height: 40px;
    overflow: hidden;
    padding: 5px;
}

.banner {
    border-radius: 50px;
    display: block;
    margin: auto;
    min-height: 30px;
}